body {
  background-image: url(/images/IMG_4718.jpg);
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: 100%;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
.vl {
  border-left: 3px solid white;
  font-size: 30px;
  height: 75px;
  padding: 15px;
  margin-left: 20px;
  margin-top: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
  color: white;
  text-decoration: none;
  }

  a:hover {
    color: black;
  }

input[type=submit] {
  background-color: #009b40;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 700px;
}

input[type=submit]:hover {
  background-color: #22ff04c2;
}

.info {
  font-size: 20px;
  height: 75px;
  padding-left: 30px;
  margin-top: 90px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

input, textarea {
  width: calc(100% - 20px);
  padding: 8px;
  margin-bottom: 30px;
  outline: none;
  border-radius: 3px;
  border-color: white;
  padding: 8px;
  }

  form { 
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(2px);
    border: none;
    width: 700px;
    color: black; 
    font-size: 15px; 
    padding: 10px; 
    margin: 25px;
    position: absolute;
    left: 370px;
    border-radius: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 50px;
    padding: 50px;
  }

  form .button {
    max-width: 150px;

  }

  .body2 {
    backdrop-filter: blur(2px);
  }

  .inicial {
  border-top: 3px solid white; 
  width: 180px; 
  position: absolute; 
  left: 350px; 
  top: 50px; 
  text-align: center; 
  font-size: 15px; 
  padding-top: 10px;

}

.sobre {
  border-top: 3px solid white; 
  width: 180px; 
  position: absolute; 
  left: 650px; 
  top: 50px; 
  text-align: center; 
  font-size: 15px; 
  padding-top: 10px;
}

.fotografias {
  border-top: 3px solid white; 
  width: 180px; 
  position: absolute; 
  left: 950px; 
  top: 50px; 
  text-align: center; 
  font-size: 15px; 
  padding-top: 10px;
}

.contato {
  border-top: 3px solid white; 
  width: 180px; 
  position: absolute; 
  left: 1250px; 
  top: 50px; 
  text-align: center; 
  font-size: 15px; 
  padding-top: 10px;
}

p {
  font-size: 15px; 
  text-align: justify;
}

.portfolio {
  padding-left: 50px; 
  padding-top: 100px;
  border-radius: 5px;
}

.primeiroPortfolio {
  padding-top: 200px;
}

.fotos {
  border-radius: 30px;
  width: 300px;
  margin-left: 38px;
}

.fotos2 {
  width: 600px;
  border-radius: 25px;
  margin-left: 60px;
}


/* * {
  border: 0.05px solid red;
} */
.navbar {
  max-width: 1900px;
  width: 100%;
  padding: 0;
  margin: 0px -2px 0px -2px;
}
.navbar-items {
  display: block;
  position: relative;
  height: 3em;
}

h2 {
  left: 1em;
  position: relative;
  bottom: 0;
  display: inline-block;
  padding: 0;
  color: white;
}
.itemsNav {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: absolute;
  display: inline-block;
  right: 0.5em;
  bottom: 0;
}
.listaItens {
  right: 1em;
  list-style-type: none;
}
.listaItem {
  color: white; 
  display: inline-block;
  padding: 0 0.5em 0 0.5em;
}


